window {
    padding: 0px 0px;
    border-radius: 4px;
    border: solid 2px #33CCFF;
    background: #1E2127;
    opacity: 1.0;
}

#container {
    margin: 16px;
}

image, label {
    color: #FFFFFF;
}

progressbar:disabled,
image:disabled {
    opacity: 0.5;
}

progressbar {
    min-height: 6px;
    border-radius: 999px;
    background: transparent;
    border: none;
}

trough {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: #595959;
}

progress {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: #FFFFFF;
}
